* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background-color:#22D8CD;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 90%;
    margin: auto;
}

h1  {
    float: left;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

/* NAV MENU */

#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 30px;
    margin: auto;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #22D8CD;
    transition: all 0.5s;
    transform: translate(-100%);
}

.menu a {
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid #cde9e7;
}

.menu a:hover {
    background-color:#b2e7e7;
}

#menu-bar:checked ~ .menu { 
    transform: translate(0%);
}

/*BANNER*/

#banner {
    margin-top: 50px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
}

#banner > .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #22D8CD;
    opacity: 0.9;
    color: #fff;
    padding: 10px;
}

#banner h2 {
    font-size: 28px;
}

#banner a {
    display: block;
    width: 100px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}

#banner a:hover {
    background-color:#b2e7e7;;
}

/*BIENVVENIDOS*/

#bienvenidos {
    width: 100%;
    align-items: center;
}

#bienvenidos > h2 {
    text-align: center;
    color: #707070;
}

#bienvenidos > p{
    text-align: center;
    margin:0 20px;
    color: #707070;
}

/*NUESTRO EQUIPO*/

#blog {
    width: 100%;
}

#blog h3 {
    text-align: center;
    color: #22D8CD;
}

#blog h4 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 5px;
}

#blog > .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#blog article {
    background-color: #22D8CD;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#blog img {
    width: 100%;
    max-width: 290px;
    border-radius: 5px;
}

/*NUESTROS TRABAJOS*/

#info {
    background-color: #22D8CD;
    color: white;
    text-align: center;
    padding: 20px;
}

#info > .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-trabajos {
    margin: 10px;
}

.info-trabajos img {
    height: 200px;
    border-radius: 5px;
    border: 2px solid white;
    background-size: cover;  
}

/*TEAM*/

#team {
    display: flex;
    flex-direction: column;
    color:#22D8CD;
}

#team h3{
    text-align: center;
}

#team h4{
    text-align: center;
    color: #707070;
}

.infoteam{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoteam > img {
    margin-bottom: 10px;
    width: 80%;
    border-radius: 5px;
    border: 2px solid white;
    background-size: cover;  
}

.infoteam p {
    text-align:justify;
    color: #707070;
}

/*FOOTER*/

.contenedor_footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    color: #707070;
}

.footer-location{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.footer-copy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.footer-redes{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-redes a {
    text-decoration: none;
}

@media (min-width:1024px) {

    /*NAV MENU*/

    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    .menu a {
        border: none;
     }

    header label {
        display: none;
    }

    .contenedor {
        width: 1000px;
    }

    /*BANNER*/


    #banner img {
        margin-top: -100px;
    }

    /*NUESTRO TRABAJO*/

    .info-trabajos {
        width: auto;
    }

    .infoteam{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .infoteam > img {
        width: 50%;
        height: 300px;
        margin-right: 10px;
    }

    .contenedor_footer {
        flex-direction: row;
        justify-content: space-evenly;

    }
}

    
@media (min-width:480px) {

    /*BANNER*/
    #banner h2 {
        font-size: 40px;
    }
    #banne a {
        margin-top: 25px;
    }

}

@media (min-width:768px) {

    /*BANNER*/
    #banner {
        height: 300px;
        overflow: hidden;
    }

    #banner img {
        height: auto;
        margin-top: -100px;
    }  

    /*FOOTER*/

    .sociales {
        width: auto;
    }

    footer .contenedor {
        justify-content: space-between;
    }
}

